@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .has-topbar {
        height: 100%;
        box-sizing: border-box;
        padding-top: 54px;
    }
    .has-topbar::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 54px;
        background-color: #000000;
        z-index: 9998;
    }
    .has-bottombar {
        height: 100%;
        box-sizing: border-box;
        padding-bottom: 44px;
    }
    .has-bottombar:after {
        content: '';
        z-index: 9998;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 44px;
        background: #f7f7f8;
    }
    .firstPage-macarea {
        bottom: .44rem !important;
    }
    .firstPage-title {
        margin-top: .2rem !important;
    }
    .firstPage-button {
        bottom: 1.8rem !important;
    }
    .firstPage-waves {
        top: 3rem !important;
    }
    .statusBack {
        top: .95rem !important;
        height: 3.7rem !important;
    }
    .questionPage {
        top: 1.6rem !important;
    }
    .resultBack {
        top: .5rem !important;
    }
    .againButton, .shareButton {
        bottom: 1.2rem !important;
    }
    .favorArea {
        bottom: .5rem !important;
    }
    .resultImgPage {
        top: .55rem !important;
    }
}


@font-face {
	font-family: 'hanyi45';
	src: url('../font/hanyi45/hanyi45.eot');
	src: url('../font/hanyi45/hanyi45.eot?#font-spider') format('embedded-opentype'),
		 url('../font/hanyi45/hanyi45.woff') format('woff'),
		 url('../font/hanyi45/hanyi45.ttf') format('truetype'),
		 url('../font/hanyi45/hanyi45.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'hanyi75';
	src: url('../font/hanyi75/hanyi75.eot');
	src: url('../font/hanyi75/hanyi75.eot?#font-spider') format('embedded-opentype'),
		 url('../font/hanyi75/hanyi75.woff') format('woff'),
		 url('../font/hanyi75/hanyi75.ttf') format('truetype'),
		 url('../font/hanyi75/hanyi75.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
    font-size: 0;
    font-family: 'hanyi75';
}
html, body, .basicalBack {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;;
}
.basicalBack {
    background: url(../pic/pages_background.png);

    
    background-size: 100% 100%;
    /*background-size: 170% 170%;*/


    background-position: 50% 45%;
    transition: background-size 2s ease-out;
}
.firstPage {


    /*display: none;*/
    


    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
/*荧幕上的文字*/
.firstPage-title {
    width: 100%;
    height: 3.4rem;
    margin: 0 auto 0;
    padding: 1.4rem 0;
    text-align: center;
    transition: padding-top 1s ease-out;
}
.titleMove {
	padding-top: .4rem;
}
.firstPage-img {
    width: .8rem;
    height: auto;
    margin: .14rem auto 0;
    transition: width .1s ease;
}
.firstPage-content {
    margin: .2rem auto 0;
    font-size: .34rem;
    color: #0e4c68;
}
/*放映机*/
.firstPage-macarea {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 1.5rem;
    height: 2.27rem;
    transition: bottom 1.2s ease-out;
}
.firstPage-machine {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.firstPage-circle1, .firstPage-circle2 {
    position: absolute;
    width: .83rem;
    height: auto;
}
.firstPage-circle1 {
    top: 0;
    right: .08rem;
    animation: circle1Rotate 13s linear infinite;
}
@keyframes circle1Rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-90deg);
    }
    50% {
        transform: rotate(-180deg);
    }
    75% {
        transform: rotate(-270deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
.firstPage-circle2 {
    top: 1.1rem;
    right: -.04rem;
    animation: circle2Rotate 9s linear infinite;
}
@keyframes circle2Rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.firstPage-waves {
    position: fixed;
    top: 2.3rem;
    left: .7rem;
    width: .4rem;
    height: .4rem;
    transition: opacity .1s ease-out;
}
.wavesMove {
    opacity: 0;
}
.waves1:before {
    content: ' ';
    position: absolute;
    z-index: 2;
    top: .2rem;
    left: .2rem;
    width: .1rem;
    height: .1rem;
    opacity: .7;
    transform: translate(-50%, -50%);
    background: #3f91bb;
    border-radius: 50%;
}
.waves1:after {
    content: ' ';
    position: absolute;
    z-index: 1;
    top: .2rem;
    left: .2rem;
    width: .1rem;
    height: .1rem;
    transform: translate(-50%, -50%);
    background: #3f91bb;
    box-shadow: 0 0 10px #3f91bb inset;
    border-radius: 50%;
    animation: waves 1s infinite;
}
@keyframes waves {
    0% {
        width: .1rem;
        height: .1rem;
        opacity: .75;
    }
    100% {
        width: .3rem;
        height: .3rem;
        opacity: 0;
    }
}
.backScale {
    background-size: 170% 170%;
}
.macareaMove {
    bottom: -3rem !important;
}
.imgMove {
	width: .96rem;
}
/*首页第二幕*/
.guide-content {
	display: none;
    margin: -.45rem auto;
    padding: 0;
    font-size: .24rem;
    font-family: 'hanyi45';
    font-weight: bolder;
    color: #0e4c68;
    text-align: center;
}
.guide-content p {
    margin: .05rem auto;
}
.firstPage-button {
	display: none;
	position: fixed;
	bottom: 1.2rem;
	left: 50%;
	margin-left: -.8rem;
	width: 1.6rem;
	height: .52rem;
	line-height: .52rem;
	font-size: .26rem;
	color: #0f2e65;
	text-align: center;
	background: url(../pic/firstPage_button.png);
	background-size: 100% 100%;
}
.hide {
    display: none;
}

